body
    margin 0
    padding 0
    color #8f8f8f
    font-family "Helvetica", "Arial", "sans-serif"
    font-size 18px
    font-weight 100
    line-height 1.4

.nowrap
    white-space nowrap
    overflow hidden

.cellpadding
    padding-bottom 10px
    padding-right 10px

.redalert
    color red
    font-weight bold
    font-size 28px

.underline
    text-decoration underline

.grey-bg
    background-color #e7e8ea
